*.jpg
*.jpeg
*.png
!inference_examples/*.png
!fewshot_segmentation_inference.png
!test_output/*.png
*.zip
*.tar
*.pt
*.pth
*.ckpt
*.pyc
.idea
*.xml
*.out
*.err
*.txt
.idea
*.json
!config/*.json
*.onnx
/fewshot_segmentation_inference.drawio
